body
{
	background: url(Blue.jpeg);
}
header
{
	background: rgba(100,200,80,0.9);
	background-attachment:fixed;
	border-radius: 10px;
	position: relative;
	top: -10px;	
	width: 100%;
}
#logo
{
	margin-top: 0px;
	color: white;
	font-size: 20px;
}
#logo img
{
	border-radius: 5px;
	margin-top: 4px;
	margin-left: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

#mensaje
{
	background: rgba(100,100,100,0.9);
	text-align: center;
	font-size: 18px;
	color: white;
	border-radius: 15px;
	padding: 10px;
	/*width: 780px;*/
	width: 80%;
	margin-top: 10px;
	margin-right: auto;
  	margin-left: auto;
  	
}
#datos
{
	background: cyan;
	border-radius: 15px;
	font-weight: bold;
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-right: auto;
  	margin-left: auto;
  	color: black;
  	width: 680px;
}
#datos p
{
	margin-left: 10px;
}
.datitos
{
	margin-top:8px;
	margin-left:10px; 

}
#componentes
{
	background: rgba(100,20,100,0.9);
	border-radius: 15px;
	color: yellow;
	font-weight: bold;
	margin-top: 20px;
	margin-right: auto;
  	margin-left: auto;
  	width: 680px;
  	padding: 20px;
}
#otros
{
	margin-top: 20px;
}
