body
{
	background: url(Blue.jpeg);
}
header
{
	background: rgba(50,200,80,0.9);
	background-attachment:fixed;
	border-radius: 10px;
	position: relative;
	top: -10px;	
	width: 100%;
}
#logo
{
	margin-top: 0px;
	color: white;
	font-size: 20px;
}
#logo img
{
	border-radius: 5px;
	margin-top: 4px;
	margin-left: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

#mensaje
{
	background: rgba(100,100,100,0.9);
	text-align: center;
	font-size: 16px;
	color: white;
	border-radius: 15px;
	padding: 10px;  	
}
#componentes
{
	background: rgba(200,100,100,0.9);
	border-radius: 10px;
	font-weight: bold;	
	padding-left: 20px;
	padding-top: 10px;

}
#datos
{
	background: cyan;
	border-radius: 10px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;	
  	vertical-align: middle;
  	overflow: hidden;
}
#leyenda
{
	font-size: 16px;
	font-weight: bold;
}


